.Home{
    width: 100%;
    height: 100px;
    //background-color: red;
}

.Corpo{
    width: 100%;
    height: 2000px;
    background-color: rgb(235, 235, 235);
}

.Template{
    width: 97%;
    height: 650px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: red;
    border-radius: 12px;
}


.Area-Registrations{
    width: 100%;
    height: 1000px;
    background-color: #fff;
    
}