.Home{
  position: relative;
}

.Corpo{
    width: 100%;
    height: 2000px;
    background-color: rgb(235, 235, 235);
}

.Template{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}


.Area-Registrations{
    position: relative;
    
}