.Home {
    position: relative;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    //background-color: blue;

    .Um {
        //background-color: red;
        float: right;
        display: flex;
        gap: 10px;
    }

    .btn-menu {
        margin: 10px;
    }

}

.Template {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;

    .ImageTemplate{
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
}

.Solutions {
    margin-top: 220px;

    h2 {
        font-size: 50px;
        margin-left: 50px;
    }

    .Restaurante {
        margin-left: 50px;
        margin-top: 20px;
    }

    .Lanchonete {
        margin-left: 20px;
    }
}

.Corpo {
    width: 100%;
    height: 2000px;
    background-color: rgb(235, 235, 235);
}


.Area-Registrations {
    position: relative;

    //Titulo da pegina
    h2 {
        //position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        font-weight: 600 !important;
        font-size: 50px;
    }



    .Area-Sub-Registrations {
        //background-color: red;
        display: flex;
        align-items: center;
        //margin: auto;
        justify-content: center;
        padding-top: 50px;
        overflow: hidden;

        .ImageDelivery{
            border-radius: 10px;
            width: 100%; /* A imagem ocupará 100% da largura da div */
            height: 100%; /* A imagem ocupará 100% da altura da div */
            object-fit: cover; /* Mantém a proporção da imagem, cortando ou ajustando para cobrir a div */
            display: block;
        }

        .ImageRestaurant{
            border-radius: 10px;
            width: 100%; /* A imagem ocupará 100% da largura da div */
            height: 100%; /* A imagem ocupará 100% da altura da div */
            object-fit: cover; /* Mantém a proporção da imagem, cortando ou ajustando para cobrir a div */
            display: block; 
        }

    }

    .CadastroEntregador {
        margin-left: 30px;

        .font_entregadores{
            position: absolute;
            padding-top: 600px;
            padding-left: 40px;
        }
    }

    .CadastroRestaurante {
        display: inline-block;
        margin-left: 30px;

        .font_restaurante{
            position: absolute;
            padding-top: 600px;
            padding-left: 50px;

        }
    }

}